.first {
  background: white;
  height: 60rem;
  width: 100%;
}
.banner {
  height: 20rem;
  width: 100%;
  object-fit: cover;
  align-self: center;
}
.first-content {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.first-content p {
  width: 65rem;
  /* text-align-last: center ; */
  text-align: center;
  font-weight: 500;
}
.first-content h1 {
  margin-top: 1rem;
  font-size: 48px;
  letter-spacing: -1.5px;
}

.first-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9rem;
}
.card-section {
  padding-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card1 {
  border: 1.7px solid var(--primary);
  border-radius: 15px;
  padding: 1rem 2rem;
  width: 15rem;
  height: 14rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.first-cards p {
  font-weight: 700;
}

/*//////////////////*/
.second {
  background: var(--primary);
  height: 47rem;
  width: 100%;
  padding: 2rem;
}
.second h1 {
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Filter_Card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
}
.Filter_Card img {
  width: 25rem;
}
.flags {
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
}
.flags img {
  width: 15rem;
}

.Third {
  background: var(--gray);
  height: 125rem;
  width: 100%;
  padding: 3rem;
}
.Third h1 {
  color: var(--primary);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.programs-card {
  display: flex;
  gap: 6rem;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}
.master-program{
    
    border: solid var(--primary) 2px;
    border-radius: 16px;
    padding: 2rem 1.5rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 25rem;
    align-items: center;
    justify-content: center;
}
.bachelor-program{
   
    border: solid var(--primary) 2px;
    border-radius: 16px;
    padding: 2rem 1.5rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 25rem;
    align-items: center;
    justify-content: center;
}
.Third p {
    text-align: center;
    font-weight: 500;
  }
  .Third span {
    text-align: center;
    font-weight: 650;
    font-size: 22px;
  }

.AdsBanner{
 display: flex;
 align-items: center;
 justify-content: center;
 padding-top: 3rem; 
 padding-bottom: 6rem;
}
.Last-section-Textpart{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.Last-section-Textpart button{
  width: 9rem;
}
.Last-section-Textpart p {
  text-align: justify ;
  line-height: 1.8rem;
}
.Last-section img{
  width: 35rem;
}
.Last-section{
  display: flex;
  gap: 6rem;
  padding-top: 5rem;;
}