:root{
  --primary: #0B033C;
  --secondary: #2B7FFF;
  --gray: #E9EBF8;
  --lightblue: #F2F7FF;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
 
html, body{
  height: 100%;
  width: 100%
}

